@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(35, 37, 48);
    }

    #top-bar {
        background-color: rgb(49, 52, 68);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(35, 37, 48);
    }

    #top-bar {
        background-color: rgb(49, 52, 68);
    }
}

body {
    margin: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
}

button {
    background-color: green;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    background-color: greenyellow;
}

button:hover:active {
    background-color: goldenrod;
}

#top-bar {
    position: absolute;

    width: 100%;
    top: 0px;
    height: 32px;
}

#top-bar > .title {
    font-size: 13px;

    position: absolute;

    height: 100%;
    width: 100%;

    vertical-align: middle;
    line-height: 32px;
    text-align: center;
}

#top-bar > .bar-icon {
    position: absolute;
    image-rendering: pixelated;
    left: 9px;
    top: 6px;
    width: 20;
    height: 20px;
}

#top-bar > .menu-container {
    position: absolute;
    display: flex;

    right: 0px;
    left: 38px;

    flex-direction: row;
    align-items: center;

    top: 4px;
    bottom: 4px;
}

#top-bar > .menu-container > .menu-tab-btn {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0);
    
    height: 32px;

    padding-top: 0px;
    padding-bottom: 0px;
}

#top-bar > .menu-container > .menu-tab-btn > .menu-btn-label {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;

    color: white;
    border: none;
    font-size: 13px;

    height: 22px;
    width: 100%;
    padding-inline: 8px;

    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}

#top-bar > .menu-container > .menu-tab-btn:hover > .menu-btn-label {
    background-color: rgb(76, 81, 108);
}

#bottom-bar {
    position: absolute;

    background-color: gray;
    width: 100%;
    bottom: 0px;
    height: 2em;
}

#canvas-widget {
    position: absolute;

    top: calc(32px + 3px);
    left: calc(150px + 9px);
    right: calc(300px + 9px);
    /* bottom: 100px;*/

    bottom: calc(200px + 9px);
    /*left: 3px;*/
    /* right: 3px; */

    /* image-rendering: pixelated; */
}

#play-button {
    position: absolute;
}

.widget {
    position: absolute;

    background-color: rgb(49, 52, 68);
}

#widget1 {
    top: calc(32px + 3px);
    left: 3px;
    bottom: calc(200px + 9px);
    width: 150px;
}

#widget2 {
    left: 3px;
    bottom: 3px;
    right: 3px;
    height: 200px;
}

#widget3 {
    top: calc(32px + 3px);
    right: 3px;
    bottom: calc(200px + 9px);
    width: 300px;
}